{%extends "base.html"%}
{%load static%}
{%block page_content%}

<div class="jumbotron">
  <h1>Jeremy Rico</h1>
  <p>Freelance software engineer specializing in artificial intelligence,
  machine learning, and full stack web development</p>
</div>

<div class="container">
  <div class="page-header">
    <h1 class="text-light"> I'm gae </h1>
  </div>
 <p class="text-light"> So gae </p>
 <p class="text-light"> Like REALLLLYY gae </p>
 <p class="text-light"> I don't think you understand how gae I am </p>
</div>


</div>
{%endblock %}
