body{
  --accent-color: #bb86FC/*#3498db*/;
}

a {
  color: #3498db;
}

/*##############*/
/* HERO CONTENT */
/*##############*/
.hero-image {
  background-image: linear-gradient(0deg, #00000099 50%, #ffffff01 100%),
  url("../img/forest-bg.jpg");
  height: 80%;
  position: relative;
  filter: blur(3px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top:-3px; /*chop blur overflow*/
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*####################*/
/* GENERAL CONTAINERS */
/*####################*/

h1.section-header{
  text-align: center;
  border-bottom: 1px solid var(--accent-color);
  /* pad for border underline */
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  /* margin for spacing */
  margin-bottom: 40px;
}

.section-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*display: block;*/
  background-color: var(--gray-10);
  border-radius: 5px;
  padding: 2rem 4rem;
  margin: 30px 50px;
}

/*####################*/
/* EXPERIENCE SECTION */
/*####################*/

#experience-timeline {
    margin: 0px auto 0 auto;
    position: relative;
    max-width: 1000px
}

#experience-timeline:before{
  position: absolute;
  content: '';
  margin-top: 10px;
  margin-bottom: auto;
  margin-left: 250px;
  margin-right: auto;
  height: 100%;
  width: 3px;
  background: linear-gradient(180deg, var(--accent-color) 75%, transparent 99%);
  z-index: 0;
  transition: .3s ease all;
}

.timeline-point{
  position: relative;
  display: block;
  vertical-align: top;
  margin-bottom: 30px;
}

.timeline-date{
  display: block;
  width: 260px;
  text-align: right;
  position: absolute;
  left: -50px;
  top: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  transition: .3s ease all;
}

.timeline-icon{
  position: relative;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  z-index: 99;
  margin-left: 226px;
  transition: .3s ease all;
}

#experience-card{
  display: flex;
  flex-direction: column;
  margin-left: 350px;
  margin-right: auto;
  background: var(--gray-9);
  padding: 30px;
  border-radius: 5px;
  text-align: left;
  transition: .3s ease all;
}

#experience-card h2 {
  margin-top:20px;
}

#experience-card img {
  margin:0;
  padding:0;
}

.company-logo img{
  width: 80%;
  height: 100%;
}

/*##################*/
/* PROJECTS SECTION */
/*##################*/

.project-container{
  display: flex;
  background: var(--gray-9);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px;
  border-radius: 5px;
}

.project-image img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.project-content{
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: left;
  transition: .3s ease all;
}

/*###################*/
/* EDUCATION SECTION */
/*###################*/

.education-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background: var(--gray-9);
  margin: 10px auto;
  padding: 20px 50px;
  border-radius: 5px;
}

.education-content{
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: auto;
  transition: .3s ease all;
}

#education img{
  width: 175px;
  height: auto;
  margin-left:20px;
}

/*################*/
/* SKILLS SECTION */
/*################*/

/*this is how you get a fixed width flex container to center itself!*/
/*set max-width and sec xaxis margin to auto*/
#skills ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 600px;
}

#skills li{
  display: inline-block;
  list-style: none;
  background-color: var(--accent-color);
  margin: 10px;
  padding-top: 15px;
  padding-bottom: 2px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 100px;
}

#skills li p {
  color: #000;
  font-weight: 500;
}

/*######################*/
/* CONTACT FORM SECTION */
/*######################*/

#contact-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}

#contact-form label{
  color: #fff;
}

#contact-form input,
#contact-form textarea {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  margin: 8px 0;
  border: 1px solid var(--gray-7);
  border-radius: 5px;
  background: var(--gray-9);
  color: #fff;
}

#contact-form button {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  margin: 8px 0;
  background: var(--gray-1);
  border-color: var(--gray-1);
  color: #3498db;
  font-weight: 600;
  border-radius: 5px;
}

.fa-paper-plane {
  margin:0 10px;
}

.find-me-container{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media (max-width: 576px){
}

@media (max-width: 768px) {
  #experience-timeline:before{
    transition: .3s ease all;
    margin-left:24px;
  }
  .experience-card{
    margin-left: 60px;
    margin-right: auto;
    transition: .3s ease all;
  }
  .timeline-icon{
    margin-left:0px;
    transition: .3s ease all;
  }
  .timeline-date {
    width: auto;
    text-align: left;
    position: relative;
    margin-bottom: 30px;
    display: block;
    margin-left: 115px;
    transition: .3s ease all;
  }
}

@media (max-width: 992px) {
}

@media (min-width: 1300px) {
  .section-container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*
@media (min-width: 768px) {
  .section-container {
    max-width: 720px;
  }
  .experience-card{
    max-width: 680px;
  }
}
@media (min-width: 992px) {
  .section-container {
    max-width: 960px;
  }
  .experience-card{
    max-width: 920px;
  }
}
@media (min-width: 1200px) {
  .section-container {
    max-width: 1140px;
  }
    .experience-card{
    max-width: 1100px;
  }
}
@media (min-width: 1400px) {
  .section-container {
    max-width: 1320px;
  }
    .experience-card{
    max-width: 1280px;
  }
}
*/
